

#mobile1{
    background: url("Rectangle 10.svg") no-repeat;
    height: 350px;
    background-size: 100%;
}

#blogo{
    padding-left: 34px;
    padding-top: 25px;
}

#lect{
    position: absolute;
    top: 333px;
    left: 137px;
}

#slider{
    background-color: black;
    margin-top: 100px;
}

#film{
    position: absolute;
    top: 400px;
}

#film2{
    position: absolute;
    top: 600px;
}

#film3{
    position: absolute;
    top: 790px;
}

.wrappero{
    margin-top: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}

.wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}

.wrapper section .item {
    padding: 0 2px;
    transition: 250ms all;
}

.wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
}

.wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    width: 80px;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.wrapper section a:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
}

.wrapper section a:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
}

footer{
    background-color: #191919;
    height: 80px;
}

footer img{
    padding-top: 20px;
    padding-left: 20px;
}

#loupe{
    position: absolute;
    top: 970px;
    left: 160px;
}